<a href="https://colab.research.google.com/github/Purnoday/PYTHON/blob/main/12_04_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Python program to display all the prime numbers within 
lower_value = int(input("Please, Enter the lowest value"))
upper_value = int(input("Please, Enter the highest value"))
print("The Prime Numbers in the range are:")
for number in range (lower_value,upper_value + 1):
   if number > 1:
     for i in range (2, number):
       if (number % i) == 0:
           break
     else:
       print (number)

Please, Enter the lowest value14
Please, Enter the highest value42
The Prime Numbers in the range are:
17
19
23
29
31
37
41

In [12]:
# Multiplication table 
number =  int(input("Enter the number"))
print ("The Multiplication Table of:",number)
for count in range(1,11):
  print(number,'x',count,'=',number *count)

Enter the number14
The Multiplication Table of: 14
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140